/* src/app/features/welcome/welcome.component.scss */
.welcome {
    text-align: right;
    margin-top: 50px;
  }
  .btn {
    display: inline-block;
    margin-top: 20px;
  }

.hero img{
  position: absolute;
  z-index: -999;
  top: -10%;
  left: -0.10%;
  height: 100%;
  width: 100%;
}
